{% extends "blog/base.html" %}
{% load static %}
{% block title %}{{ single_document.title }}{% endblock %}
{% block content %}
  <h1>{{ single_document.title }}</h1>
  <p class="date">
    Published {{ single_document.publish_by }} by {{ single_document.auther }}
  </p>
  {{ single_document.description|linebreaks }}
  <a href="{% static single_document.filename %}" target="_blank">
      Open Image
  </a>
  {% if request.user.is_authenticated %}
    <p>
      <a href="{% url "TD:send_email" single_document.id %}">
        Share this post
      </a>
    </p>
  {% endif %}
  {% with comments.count as total_comments %}
    <h2>
      {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
  {% endwith %}
  {% for comment in comments %}
    <div class="comment">
      <p class="info">
        Comment {{ forloop.counter }} by {{ comment.name }}
        {{ comment.created }}
      </p>
      {{ comment.description|linebreaks }}
    </div>
  {% empty %}
    <p>There are no comments.</p>
  {% endfor %}
  {% if request.user.is_authenticated %}
    {% include "blog/TD/includes/comment_form.html" %}
  {% endif %}
{% endblock %}