{% extends "blog/base.html" %}
{% block title %}Share a post{% endblock %}
{% block content %}
  {% if sent %}
    <h1>E-mail successfully sent</h1>
    <p>
      "{{ Document.title }}" was successfully sent to {{ Document.cleaned_data.to }}.
    </p>
  {% else %}
    <h1>Share "{{ Document.title }}" by e-mail</h1>
<!--    <form method="post">-->
<!--      {{ form.as_p }}-->
<!--      {% csrf_token %}-->
<!--        <input type="submit" value="Send e-mail" class="btn btn-primary">-->
<!--    </form>-->
  <form method="post">
    {% csrf_token %}
      <div class="form-control">
                {{ form.to }}
      </div>
      <div class="form-control">
                {{ form.comments }}
      </div>
    <input type="submit" value="Send e-mail" class="btn btn-primary">
  </form>
  {% endif %}
{% endblock %}