{% extends 'blog/base.html' %}
{% block content %}
<div class="container mx-auto p-4">
    <!-- Хлебные крошки -->
    <div class="breadcrumbs text-sm mb-4">
        <a href="{% url 'TD:folder_list' %}" class="btn btn-sm">📁 Главная</a>
        {% for folder in breadcrumbs %}
            / <a href="{% url 'TD:folder_detail' folder.id %}" class="btn btn-sm">{{ folder.name }}</a>
        {% endfor %}
    </div>

    <!-- Кнопка назад -->
    {% if parent_folder and parent_folder.parent %}
        <a href="{% url 'TD:folder_detail' parent_folder.parent.id %}" class="btn btn-outline mb-4">⬅ Назад</a>
    {% endif %}

    <!-- Список папок -->
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for folder in folders %}
        <a href="{% url 'TD:folder_detail' folder.id %}" class="card shadow-lg p-4 flex flex-col items-center text-center">
            <div class="text-6xl">📂</div>
            <div class="font-bold mt-2">{{ folder.name }}</div>
        </a>
        {% endfor %}
    </div>

    <!-- Список файлов -->
    <h2 class="mt-6 text-lg font-bold">Файлы</h2>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for document in documents %}
       <a href="{{ document.get_absolute_url }}" class="card shadow-lg p-4 flex flex-col items-center text-center">
            <div class="text-6xl">📄</div>
            <div class="font-bold mt-2">{{ document.title }}</div>
        </a>
        {% empty %}
        <p class="col-span-4 text-gray-500">Файлы отсутствуют</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
