{% extends "blog/base.html" %}
{% block content %}
<div class="container mx-auto p-6 flex justify-center">
    <div class="card bg-base-100 shadow-xl border border-gray-200 p-6 w-full max-w-lg">
        <h2 class="text-3xl font-bold mb-4 text-center">Create Ticket</h2>
        <form method="post" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Заголовок</span>
                </label>
                {{ form.title }}
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Описание</span>
                </label>
                {{ form.description }}
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Отдел</span>
                </label>
                {{ form.department }}
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Должность</span>
                </label>
                {{ form.position }}
            </div>
<!--            <div class="form-control">-->
<!--                <label class="label">-->
<!--                    <span class="label-text">Due Date</span>-->
<!--                </label>-->
<!--                {{ form.due_date }}-->
<!--            </div>-->
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Прикрепить снимок экрана</span>
                </label>
                {{ form.screenshot }}
            </div>
            <div class="flex justify-center">
                <button type="submit" class="btn btn-primary w-full">Отправить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
