{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<h2>{{ ticket.title }}</h2>
<p>{{ ticket.description }}</p>
<p><strong>Status:</strong> {{ ticket.status }}</p>
<p><strong>Created by:</strong> {{ ticket.created_by.username }}</p>
<p><strong>Accepted by:</strong> {{ ticket.accepted_by.username }}</p>
{% if ticket.screenshot %}
    <h3>Screenshot:</h3>
    <a href="{{ ticket.screenshot.url }}" target="_blank">Открыть файл</a>
{% else %}
    <p>No screenshot attached.</p>
{% endif %}

{% if ticket.status == 'open' %}
    <form action="{% url 'tickets:accept_ticket' ticket.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Принять задачу</button>
    </form>
{% elif ticket.status == 'in_progress' %}
    <!-- Ссылка на чат, доступна когда тикет в работе -->
    <p>
        <a href="{% url 'chat:chat_detail' ticket.id %}">Перейти в чат</a>
    </p>
    <form action="{% url 'tickets:close_ticket' ticket.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Завершить задачу</button>
    </form>
{% else %}
    <p>Тикет в ожидании.</p>
{% endif %}

{% endblock %}
