{% extends "blog/base.html" %}
{% block content2 %}
<div class="container mx-auto p-6">
    <div class="card bg-base-100 shadow-xl border border-gray-200 p-6">
        <h2 class="text-3xl font-bold mb-2">{{ ticket.title }}</h2>
        <p class="text-gray-600">{{ ticket.description }}</p>
        
        <div class="mt-4">
            <p><strong>Status:</strong> 
                <span class="badge 
                    {% if ticket.status == 'open' %}badge-error
                    {% elif ticket.status == 'in_progress' %}badge-warning
                    {% else %}badge-success
                    {% endif %}">
                    {{ ticket.status }}
                </span>
            </p>
            <p><strong>Created by:</strong> {{ ticket.created_by.username }}</p>
            <p><strong>Accepted by:</strong> {{ ticket.accepted_by.username|default:"Not Assigned" }}</p>
        </div>

        {% if ticket.screenshot %}
            <div class="mt-4">
                <h3 class="text-lg font-semibold">Screenshot:</h3>
                <div class="border border-gray-300 rounded-lg overflow-hidden shadow-md max-w-xs">
                    <img src="{{ ticket.screenshot.url }}" alt="Ticket Screenshot" class="w-full h-auto">
                    <div class="p-2 bg-gray-100 text-center">
                        <a href="{{ ticket.screenshot.url }}" target="_blank" class="link link-primary">View Full Image</a>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="mt-6 flex space-x-4">
            {% if ticket.status == 'open' %}
                {% if ticket.department == request.user.department and ticket.position == request.user.position %}
                <form action="{% url 'tickets:accept_ticket' ticket.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning">Accept Ticket</button>
                </form>
                {% else %}
                    <p class="text-gray-500">you don't have access rights to accept ticket.</p>
                {% endif %}
            {% elif ticket.status == 'in_progress' %}
                <a href="{% url 'chat:chat_detail' ticket.id %}" class="btn btn-info">Go to Chat</a>
                {% if ticket.department == request.user.department and ticket.position == request.user.position %}
                <form action="{% url 'tickets:close_ticket' ticket.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Close Ticket</button>
                </form>
                {% else %}
<!--                    <p class="text-gray-500">you don't have close rights to close ticket.</p>-->
                {% endif %}
            {% else %}
                <p class="text-gray-500">Ticket is closed.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

